# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\stela\Documents\Università\Anno Accademico 2020-21\Optimisation and Control of Logistics Systems\Esercitazioni\Esercitazione 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
